@model Lab2BDDomain.Model.FactoryProduct

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>FactoryProduct</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductionCost)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductionCost)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AmountProduced)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AmountProduced)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Factory)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Factory.Adress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Product)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Product.ProductDescription)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
